@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange: #FF6600;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-custom-orange:  var(--orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--font-lato-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container-width {
  @apply w-full max-w-2xl lg:max-w-7xl mx-auto px-5
}

.perfectCenter {
  @apply flex items-center justify-center
}

.items-center-between {
  @apply flex items-center justify-between
}

.text-shadow{
  /* @apply [text-shadow:0_4px_20px_rgba(255, 102, 0, 0.6)] */
  
}